In [4]:
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [ ]:
def remove_outlier(df):
  for column_name in df.columns:
    Q1 = df[column_name].quantile(0.25)
    Q3 = df[column_name].quantile(0.75)
    IQR = Q3 - Q1
    lower_limit = Q1 - 1.5*IQR
    upper_limit = Q3 + 1.5*IQR
    print(lower_limit, upper_limit)
    dataset = df[(df[column_name] > lower_limit) | (df[column_name] < upper_limit)] 
  return df

In [ ]:
def remove_outliers(df):
    outliers={}
    for col in df.columns:
        if str(df[col].dtype) != 'object':
            df = df[np.abs(df[col]-df[col].mean())<(3*df[col].std())]
            olrs=df[-(np.abs(df[col]-df[col].mean())<(3*df[col].std()))]
            outliers = pd.DataFrame(olrs)
    return df,outliers

In [1]:
dataset= [11,10,12,14,12,15,14,13,15,102,12,14,17,19,107, 10,13,12,14,12,108,12,11,14,13,15,10,15,12,10,14,13,15,10]

### Detecting outlier using Z score

### Formula for Z score = (Observation — Mean)/Standard Deviation

### z = (X — μ) / σ

In [12]:
outliers=[]
def detect_outliers(data):
    
    threshold=3
    mean = np.mean(data)
    std =np.std(data)
    
    
    for i in data:
        z_score= (i - mean)/std 
        if np.abs(z_score) > threshold:
            outliers.append(i)
    return outliers

In [13]:
outlier_pt=detect_outliers(dataset)

In [14]:
outlier_pt

[102, 107, 108]

### InterQuantile Range
### 75%- 25% values in a dataset

### Steps
### 1. Arrange the data in increasing order
### 2. Calculate first(q1) and third quartile(q3)
### 3. Find interquartile range (q3-q1)
### 4.Find lower bound q1*1.5
### 5.Find upper bound q3*1.5
### Anything that lies outside of lower and upper bound is an outlier

In [7]:
## Perform all the steps of IQR
sorted(dataset)

[10,
 10,
 10,
 10,
 10,
 11,
 11,
 12,
 12,
 12,
 12,
 12,
 12,
 12,
 13,
 13,
 13,
 13,
 14,
 14,
 14,
 14,
 14,
 14,
 15,
 15,
 15,
 15,
 15,
 17,
 19,
 102,
 107,
 108]

In [8]:
quantile1, quantile3= np.percentile(dataset,[25,75])

In [9]:
print(quantile1,quantile3)

12.0 15.0

In [10]:
## Find the IQR

iqr_value=quantile3-quantile1
print(iqr_value)

3.0

In [16]:
## Find the lower bound value and the higher bound value

lower_bound_val = quantile1 -(1.5 * iqr_value) 
upper_bound_val = quantile3 +(1.5 * iqr_value)

In [17]:
print(lower_bound_val,upper_bound_val)

7.5 19.5

In [18]:
import pandas as pd

df=pd.read_csv('heights.csv')
df.head()

    name  height
0  mohan     5.9
1  maria     5.2
2  sakib     5.1
3    tao     5.5
4  virat     4.9

In [21]:
df['height'].quantile(0.95) #9.68 is 95% quantile,any above this is outlier

9.689999999999998

In [22]:
max_thresold=df['height'].quantile(0.95)
max_thresold

9.689999999999998

In [23]:
df[df['height']>max_thresold]

    name  height
9  imran    14.5

In [24]:
min_thresold=df['height'].quantile(0.05)
min_thresold

3.6050000000000004

In [25]:
df[df['height']<min_thresold]

      name  height
12  yoseph     1.2

### Remove outliers

In [27]:
df[(df['height']<max_thresold) & (df['height']>min_thresold)]

       name  height
0     mohan     5.9
1     maria     5.2
2     sakib     5.1
3       tao     5.5
4     virat     4.9
5    khusbu     5.4
6    dmitry     6.2
7    selena     6.5
8      john     7.1
10     jose     6.1
11  deepika     5.6
13    binod     5.5